<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/loan.png">

    <title>Loan Regex 2.0</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/costum.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <!--
        <h3 class="text-muted t1">Loan Regex 2.0</h3>
         <!-- Navbar --><!--
        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="text-muted t" href="#"> Loan Regex 2.0</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>-->
      <!-- Title -->
      <div class="title">
        <h2>Registe your loan objects here!</h2>
      </div>
      <!-- Table -->
      <div class="row table1">
        <table class="table" id="my_table">
          <thead>
            <tr>
              <th>#</th>
              <th>Object</th>
              <th>Name</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for row in items %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <!-- Buttons -->
        <div class="row align-items-start add-buttons">
          <div class="col-sm-4 col-lg-6">
            <p></p>
          </div>
          <div class="col-sm col-lg">
            <a id="loan_btn" class="btn btn-lg btn-success" href="#" role="button">Loan object</a>
          </div>
          <div class="col-sm col-lg">
            <a id="return_btn" class="btn btn-lg btn-success" href="#" role="button">Return object</a>
          </div>
        </div>
      <!-- Loan -->
      <div id="loan_div" class="row align-items-start loan" style="display:none">
        <div class="col-sm col-lg">
          <label>Object</label>
          <input id="loan_object" type="text" required/>
        </div>
        <div class="col-sm col-lg">
            <label>Name</label>
            <input id="loan_name" type="text" required/>
        </div>
        <div class="col-sm col-lg">
            <button class="btn btn-lg btn-success" href="#" role="button" onclick="loan_post()">Loan</button>
          </div>
      </div>
      <!-- Return -->
      <div id="return_div" class="row align-items-start return" style="display:none">
          <div class="col-sm col-lg">
              <p></p>
          </div>
          <div class="col-sm col-lg">
            <label>#</label>
            <input id="return_id" type="text" required/>
          </div>
          <div class="col-sm col-lg">
              <a id="return_btn_post" class="btn btn-lg btn-success" href="#" role="button" onclick="return_post()">Return</a>
            </div>
        </div>
      <!-- Footer -->
      <footer class="footer">
        <p>&copy; André Nunes 43304 - Planeamento e Gestão de Projecto FCUL 2017</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- Custom javascript for this template -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
